*{
    margin: 0;
    padding: 0;
}

*,*::before, *::after{
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body{
	font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background-image: url(../images/plant.jpg);
    background-size: cover;
    background-repeat: repeat;

}

.background{
    min-height: 100vh;
    width: auto;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    position: relative;
    z-index: 1;
}



.container{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 5rem;
    width: 1200px;
    height: 800px;
    margin-right:auto;
}


.utsu{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position: absolute;
    z-index: 2;
}

.text1{
    display: block;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #fcfcfc;

    position: relative;
    padding-left: 61%;
    padding-top: 8%;
    padding-right: 10%;

    z-index: 3;
}

.text2{
    position: absolute;
    padding-left: 61%;
    padding-top: 10%;
    padding-right: 0%;
    font-size: 20px;

    color: #fcfcfc;
    font-family: Inter;

    z-index: 4;
}

.backs{
    position: absolute;
    padding-left: 0%;
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 0%;
    max-width: 600px;
    top: 102%;
    left: 61%;
    display: flex;
    justify-content: space-between;
    border: 20px black;


    z-index: 10;
}

/* Extra small devices */
@media only screen and (max-width: 600px) {
    .container{
        position: absolute;
        height: 100vh;
        width: 100vw;
        margin-right: -10%;
        margin-top: -25%;
    }
    .text1{
        font-size: 12.7px;
        position: relative;
        padding-left: 40%;
        padding-top: 20%;
        padding-right: 10%;

        width: 100%;
        min-height: 92%;
        overflow: auto;
        
    
        z-index: 3;


    }

    .text2{
        position: relative;
        top: -5%;
        right: 20%;
        font-size: 16.5px;

        width: 120%;
    }

    .backs{
        position: relative;
        left: 0%;

        width: 120%;
        display: inline-flex;
        
    }
    
    .utsu {
        content: url(../images/mobilenoline.png);
    }

    .background{
        background-color: black;
    }

*{
    max-height: 80%;
    max-width: 100%;
}







}